<div class="page-footer">
    <div class="page-footer-inner">
        2017 &copy; Erdem Akkaya
        <a href="" title="Erdem AKKAYA DESİGN"</a>
    </div>
    <div class="scroll-to-top">
        <i class="icon-arrow-up"></i>
    </div>
</div>

